body {
  color: white;
  background-color: rgba(7, 79, 87, 1);  /*midnight green*/
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

#playerStats {
  border: 2px;
  background: rgba(7, 79, 87, 1); /*midnight green*/
}

#outputWin {
  border: 2px;
  background: rgba(7, 79, 87, 1); /*midnight green*/
}

#info {
  border: 2px;
  background: rgba(7, 79, 87, 1);  /*midnight green*/
}

#chat_output {
  border: 2px;
  border-color: rgba(187, 219, 180, 1); /*light moss green*/
  background: rgba(7, 113, 135, 1); /*metallic seaweed*/
  position: relative;
  text-align: left;
  width: 50%;
  padding: 0 5px; /* left, right */
}

#chat_comment {
  color: darkslategray;
}

p {
  color: orange;
}

img {
  border-radius: 50%;
}

input {
  border-radius: 8px;
  width: 40%;
  height: 32px;
  padding: 3px;
  outline: none;
  color: black;
}

.hover {
	cursor: pointer;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

/* RGB
$color1: rgba(7, 79, 87, 1); //midnight green
$color2: rgba(7, 113, 135, 1); //metallic seaweed
$color3: rgba(116, 165, 127, 1); //shiny shamrock
$color4: rgba(187, 219, 180, 1); //light moss green
$color5: rgba(252, 240, 204, 1); //blanched almond
 */