body {
  color: lightgray;
  background-color: #416165;  /*deep space sparkle*/
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
}

@media only screen 
  and (max-width: 839px) { 
    * {
      font-size: calc(28px - 1vmax); /*mobile*/
    }
    .form-control {
      height: calc(70px - 1vmin) !important;
    }
    #settingsForm {
      width: 75%;
    }
}

@media only screen 
  and (min-width : 840px) {
  * {
    font-size: calc(24px - 1vmin); /*desktop*/
  }
  #settingsForm {
    width: 50%;
  }
}

/* * {
  border: 1px;
  border-style: solid;
  border-color: seagreen;
} */

input:disabled {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAIklEQVQIW2NkQAKrVq36zwjjgzhhYWGMYAEYB8RmROaABADeOQ8CXl/xfgAAAABJRU5ErkJggg==) repeat;
}

p {
  color: #b9c17b;
}

img {
  border-radius: 50%; /*round images*/
}

/* nth-child(1) = the first td in each tr */
td:nth-child(1) {
  width: 10%;
  }

/* the second */
td:nth-child(2) {
  width: 80%;
}

/* the third */
td:nth-child(3) {
  width: 10%;
  text-align: center;
 }

#headline {
  height: 80px;
  letter-spacing: 3px;
}

#btnNextTurn {
  position: fixed;
  top: 20px;
  right: 20px;
}

#btnNextTurn:focus, button:focus {
  outline: none;
}

#stats_section {
  width: 25%;
}

/*Theme the header*/
#stats_table .tabulator .tabulator-header, 
#stats_table .tabulator .tabulator-header .tabulator-col {
  background-color: rgba(7, 79, 87, 1); /*midnight green*/
  color: rgba(187, 219, 180, 1); /*light moss green*/
  border: none;
  overflow: hidden;
}

/*Color the table rows*/
#stats_table .tabulator-tableHolder .tabulator-table .tabulator-row, 
#stats_table .tabulator-tableHolder .tabulator-table .tabulator-col {
  background-color: rgba(7, 79, 87, 1); /*midnight green*/
  color: rgba(187, 219, 180, 1); /*light moss green*/
  border: none;
  overflow: hidden;
}

#info {
  border: 2px;
  background: rgba(7, 79, 87, 1);  /*midnight green*/
}

#chat_output {
  border: 2px;
  border-color: rgba(187, 219, 180, 1); /*light moss green*/
  background: rgba(7, 113, 135, 1); /*metallic seaweed*/
  position: relative;
  text-align: left;
  width: 50%;
  padding: 0 5px; /* left, right */
}

#chat_comment {
  color: darkslategray;
}

.outputSection {
  background: #416165;  /*deep space sparkle*/
}

.block {
  display: block;
}

.wide-checkbox {
  border-radius: 8px;
  width: 24px;
  height: 24px;
  padding: 3px;
  outline: none;
}

.hover {
	cursor: pointer;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-30 {
  margin-top: 30px;
}

.margin-top-40 {
  margin-top: 40px;
}

.margin-left-10 {
  margin-left: 10px;
}

.margin-right-10 {
  margin-right: 10px;
}

.print-round {
  color: rgba(252, 240, 204, 1); /*blanched almond*/
  background-color: rgba(7, 113, 135, 1); /*metallic seaweed*/
  border-radius: 6px;
  border: solid rgba(252, 240, 204, 1); /*blanched almond*/
  border-width: 2px;
  height: 30px;
  vertical-align: center;
  padding: 4px;
  width: 50%;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 25%;
  width: 50%; /* Full width */
  height: 50%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
}

/* Modal Content */
.modal-content {
  position: relative;
  color: white;
  background-color: rgba(116, 165, 127, 1); /*shiny shamrock*/
  border-radius: 5px;
  margin: auto;
  padding: 0;
  width: 80%;
}

/* The Close Button */
.close {
  color: rgba(252, 240, 204, 1); /*blanched almond*/
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color:rgb(61, 58, 49); /*dark blanched almond*/
  text-decoration: none;
  cursor: pointer;
}

/* RGB
$color1: rgba(7, 79, 87, 1); //midnight green
$color2: rgba(7, 113, 135, 1); //metallic seaweed
$color3: rgba(116, 165, 127, 1); //shiny shamrock
$color4: rgba(187, 219, 180, 1); //light moss green
$color5: rgba(252, 240, 204, 1); //blanched almond
 */